ion-content{
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}
ion-item{
  --padding-bottom: 10px;
}

ion-card {
  background-color: var(--ion-color-loginbutton);
}

ion-button {
  background-color: var(--ion-color-duoccolor);
}

avatar{
  width: 5%;
  text-align: center;
}
