<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        DUOCUC QR Reader
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <!-- <mat-slider min="1" max="100" step="1" value="10"></mat-slider> -->
  <ion-img src="assets/img/lg.svg.png" style="width: 50% ;"></ion-img>
  <ion-title> Escanea tu código QR aquí</ion-title>
  <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera"
    (change)="verificarArchivoConQR($event.target.files)" />

  <br>

  <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round" color="warning" >
    <ion-icon slot="start" name="camera"></ion-icon>
    Cargar Imagen con Código QR
  </ion-button>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round" color="warning">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round" color="warning">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-button (click)="limpiarDatos()" expand="block" expand="full" shape="round" color="warning">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Limpiar datos
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>
  <ion-card>
    <ion-label >
      <h2 *ngIf="usuario.nombreUsuario === 'atorres@duocuc.cl'" class="bienvenida"> Bienvenida Ana   </h2>
      <h2 *ngIf="usuario.nombreUsuario === 'avalenzuela@duocuc.cl'" class="bienvenida"> Bienvenida Alberto  </h2>
      <h2 *ngIf="usuario.nombreUsuario === 'cfuentes@duocuc.cl'" class="bienvenida" > Bienvenida Carla  </h2>
      <!-- {{interpolacion}}
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      <p *ngIf="usuario">Usuario: {{ usuario.nombreUsuario }}</p>
    <br>
      Datos: {{ datosQR }}
      <br><br>
      Escaneando: {{ escaneando }}
      <br>
    </ion-label>
  </ion-card>


</ion-content>
